#back_contact{
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4) ), url("../image/kfbs-cover-3.jpg");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
    min-height: 100vh;
    overflow: hidden;
}




/* Blob */
/* 
.tk-blob {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100vh;
  position: absolute;
  bottom: -500px;
  right: -50%;
} */






/* Arrow start */



*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
  position: absolute;
  bottom: 25px;
  left: 49%;
  cursor: pointer;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}


/* Arrow end  */


.word {
  margin: auto;
  color: white;
  /* font: 700 normal 2.5em 'tahoma'; */
  /* text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324; */
}



.masthead h2.ui.header {
  /* margin-top: 5em; */
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 3em;
  font-weight: normal;
}

.masthead h2.ui.header {
  /* margin-top: 5em; */
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 3em;
  font-weight: normal;
}

.masthead h1.ui.header {
  margin-top: 1em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}

.line-rectangle {
  display: inline-block;
  overflow: hidden;
  padding: 0px;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    transform: skew(-10deg, 0deg);
  font-size: 0px;
  background: #091420;
  height: 200px;
  width: 75%;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  background-size:     cover;                     
  background-repeat:   no-repeat;
  background-position: center center;
  position: absolute;
  top: 45%;
  right: 12.5%;
  mix-blend-mode:hard-light;
  background-color: #091420;
}
.ui.inside {
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 40px;
  font-weight: normal;
  margin-left: 10px;
  margin-right: 10px;
  color: #FFFFFF;
  mix-blend-mode:difference;

  position: relative;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.brief {
  font-size: larger;
}

.brief.link {
  cursor: pointer;
}

.ui.floated.image {
  border-radius: 20px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
}

.header.head {
  color: #314146;
}


.card {
  margin: 30px auto;
  width: 320px;
  height: 90px;
  border-radius: 40px;
  /* box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 40px 7px rgba(0,0,0,0.22); */
  cursor: pointer;
  transition: 0.4s;
  background-color: #4B9CD3;
  /* background-image: url("../image/contact-us.jpg"); */
  position: relative;
  box-shadow: rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset, rgba(255, 255, 255, 0.15) 0px -36px 30px 0px inset, rgba(255, 255, 255, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px, 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 40px 7px rgba(0,0,0,0.22);
}

.card .card_title {
  text-align: center;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 26px;
  color: #FFFFFF;
}

.card:hover {
  transform: scale(0.9, 0.9);
  /* box-shadow: 5px 5px 40px 15px rgba(0,0,0,0.25), -5px -5px 30px 15px rgba(0,0,0,0.22); */
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px, 5px 5px 40px 15px rgba(0,0,0,0.25), -5px -5px 30px 15px rgba(0,0,0,0.22);
}









@media only screen and (max-width: 700px) {
  .masthead h2.ui.header {
    /* margin-top: 5em; */
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 2em;
    font-weight: normal;
    
  }
  
  .masthead h1.ui.header {
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 3em;
    font-weight: normal;
  }

  .ui.inside {
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 30px;
    font-weight: normal;
  }

  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.menu > .blank {
    display: none !important;
  }
  .secondary.menu .item,
  .secondary.menu .menu {
      display: none;
  }
  .secondary.menu .toc.item {
      display: block;
  }

}